.screen-header {
  display: flex;
  padding: 40px 10px 10px 10px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
}

.screen-header__title {
  font-size: 24px;
  font-weight: 600;
  align-items: center;
}

.screen-header__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.screen-header__icon {
  padding: 10px 15px;
}
